// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-spammails styles
// ----------------------------------------------------------------------------
.widget-spammails {

  background-color: $background-color;

  .title {
    color: $title-color;
    font-size: 37px;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  th {
    font-size: 37px;
  }

  td {
    font-size: 37px;
  }
}
