<script type='text/javascript'>
$(function() {
  Dashing.widget_margins = [5, 5]
  Dashing.widget_base_dimensions = [300, 340]
  Dashing.numColumns = 6
});
</script>

<% content_for :title do %>BellTV<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="duks" data-view="Duks" data-title="Duks" data-text="When er køkkenbitch?"></div>
      <i class="icon-food icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="weatherdmi" data-view="BigImage" data-image="http://servlet.dmi.dk/byvejr/servlet/byvejr_dag1?by=6000&mode=long" style="background-color:transparent;" data-max="true"></div>
    </li>

     <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="klimato" data-view="Klimato"></div>
      <i class="icon-sun icon-background"></i>
     </li>

     <li data-row="1" data-col="6" data-sizex="1" data-sizey="2">
       <div data-id="praleduks" data-view="Text" data-title="Praleduks" data-text="Praleduks listen" data-moreinfo="Se mere på bellcom.dk"></div>
      <i class="icon-linux icon-background"></i>
     </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nagios-main" data-view="Nagios" data-unordered="true" data-title="Nagios Main" data-moreinfo="Unacknowledged events"></div>
      <i class="icon-warning-sign icon-background"></i>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nagios-extern" data-view="Nagios" data-unordered="true" data-title="Nagios Extern" data-moreinfo="Unacknowledged events"></div>
      <i class="icon-warning-sign icon-background"></i>
    </li>

    <li data-row="2" data-col="3" data-sizex="3" data-sizey="1">
        <div data-id="lastproblem" data-view="LastProblem" data-title="Last Problem" data-time="Kører det for vores Nagios?" data-lastproblems="Sidste problemer her" ddata-record="1 uge"></div>
      <i class="icon-fire-extinguisher icon-background"></i>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bandwidthdown" data-view="Meter" data-title="Bandwidth Out" data-moreinfo="Mbit/s from hosting" data-min="0" data-max="100"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bandwidthup" data-view="Meter" data-title="Bandwidth In" data-moreinfo="Mbit/s from hosting" data-min="0" data-max="100"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="muninfweth0" data-view="BigImage" data-image="https://munin.bellcom.dk/munin-cgi/munin-cgi-graph/bellcom.dk/fw.bellcom.dk/if_eth0-day.png" style="background-color:transparent;" data-max="true"></div>
    </li>
      
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="mailq" data-view="Mailq" data-title="Mail Queues"></div>
      <i class="icon-envelope icon-background"></i>
    </li>

  </ul>
</div>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="duks" data-view="Duks" data-title="Duks" data-text="When er køkkenbitch?"></div>
      <i class="icon-food icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="weatherdmi" data-view="BigImage" data-image="http://servlet.dmi.dk/byvejr/servlet/byvejr_dag1?by=6000&mode=long" style="background-color:transparent;" data-max="true"></div>
    </li>

     <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="klimato" data-view="Klimato"></div>
      <i class="icon-sun icon-background"></i>
     </li>

     <li data-row="1" data-col="6" data-sizex="1" data-sizey="2">
       <div data-id="praleduks" data-view="Text" data-title="Praleduks" data-text="Praleduks listen" data-moreinfo="Se mere på bellcom.dk"></div>
      <i class="icon-linux icon-background"></i>
     </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nagios-main" data-view="Nagios" data-unordered="true" data-title="Nagios Main" data-moreinfo="Unacknowledged events"></div>
      <i class="icon-warning-sign icon-background"></i>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nagios-extern" data-view="Nagios" data-unordered="true" data-title="Nagios Extern" data-moreinfo="Unacknowledged events"></div>
      <i class="icon-warning-sign icon-background"></i>
    </li>

    <li data-row="2" data-col="3" data-sizex="3" data-sizey="1">
        <div data-id="lastproblem" data-view="LastProblem" data-title="Last Problem" data-time="Kører det for vores Nagios?" data-lastproblems="Sidste problemer her" ddata-record="1 uge"></div>
      <i class="icon-fire-extinguisher icon-background"></i>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bandwidthdown" data-view="Meter" data-title="Bandwidth Out" data-moreinfo="Mbit/s from hosting" data-min="0" data-max="100"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bandwidthup" data-view="Meter" data-title="Bandwidth In" data-moreinfo="Mbit/s from hosting" data-min="0" data-max="100"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="muninfweth0" data-view="BigImage" data-image="https://munin.bellcom.dk/munin-cgi/munin-cgi-graph/bellcom.dk/fw.bellcom.dk/if_eth0-day.png" style="background-color:transparent;" data-max="true"></div>
    </li>
      
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="mailq" data-view="Mailq" data-title="Mail Queues"></div>
      <i class="icon-envelope icon-background"></i>
    </li>

  </ul>
</div>
