<% content_for :title do %>Bellcom Screen<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nagios-main" data-view="Nagios" data-unordered="true" data-title="Nagios Main" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="nagios-extern" data-view="Nagios" data-unordered="true" data-title="Nagios Extern" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <img src="duks.png" alt="Duks">
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="Docker Tweets" style="background-color: #71388a"></div>
    </li>
  </ul>
</div>
