<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [160, 170]
  Dashing.numColumns = 8
});
</script>

<% content_for :title do %>Bellcom Screen<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
      <div data-id="online" data-view="Online" data-title="At the office?"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="weatherdmi" data-view="BigImage" data-image="http://servlet.dmi.dk/byvejr/servlet/byvejr_dag1?by=6000&mode=long" style="background-color:#dbdbd2;" data-max="true"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="klimato" data-view="Klimato"></div>
      <i class="icon-sun icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <div data-id="duks" data-view="Duks" data-title="Duks" data-text="When er køkkenbitch?"></div>
      <i class="icon-food icon-background"></i>
    </li>

  </ul>
</div>
