<script type='text/javascript'>
$(function() {
  Dashing.widget_margins = [5, 5]
  Dashing.widget_base_dimensions = [300, 340]
  Dashing.numColumns = 6
});
</script>

<% content_for :title do %>Bellcom Screen<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="spammails" data-view="Spammails" data-title="Spammails"></div>
    </li>
  </ul>
</div>
